.password-test {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 20px 20px 25px;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -80%);

  &__title {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 30px;
  }

  &__label {
    display: block;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid #afaaaa;

    &:focus {
      outline: 1px solid #000;
      border: none;
    }
  }
}

.strength {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__block {
    background-color: #d1d1d1;
    width: 30%;
    height: 20px;
    transition: background-color 200ms;
    border-radius: 3px;

    .strength--short &:nth-child(-n + 3) {
      background-color: #ff0000;
    }

    .strength--low &:first-child {
      background-color: #ff0000;
    }
  
    .strength--medium &:nth-child(-n + 2) {
      background-color: #ffff00;
    }
  
    .strength--high &:nth-child(-n + 3) {
      background-color: #00ff00;
    }
  }
}
