$page-background: #ff532d;

$low-color: #ff0000;
$medium-color: #ffff00;
$high-color: #00ff00;
$default-color: #d1d1d1;

$modal-color: #fff;

$input-border-color: #afaaaa;
$input-outline-color: #000;

$transition-block-color: 200ms;
